[Unit]
Description=merchant_web

[Service]
Restart=on-failure
WorkingDirectory=/root/code/web
ExecStart=/root/code/web/target/release/eve_merchant_web

[Install]
WantedBy=multi-user.target
